<div class="auth-wrapper">
  <video autoplay muted loop class="bg-video">
    <source src="assets/videos/Introducing ACTIAs new technology  COBOT.mp4" type="video/mp4" />
  </video>
  <div class="auth-content">

    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <img src="assets/images/bg.png" alt="Unlock Icon" class="auth-icon">
        </div>
        <h3 class="mb-4">Sign up</h3>
        <form (ngSubmit)="onSubmit()">
          <!-- Prenom (First Name) -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.prenom" name="prenom" required />
          </div>
          
          <!-- Nom (Last Name) -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.nom" name="nom" required />
          </div>
          
          <!-- Email -->
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" required />
          </div>

          <!-- Password -->
          <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required />
          </div>

          <!-- Telephone -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="user.telephone" name="telephone" required />
          </div>

         

         

          <!-- Submit button -->
          <button class="btn btn-primary shadow-2 mb-4" type="submit">Sign up</button>
        </form>

        <p>Vous avez deja un compte ?  
          <a href="/auth/signin" class="invisible-btn">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
