<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign up</h3>
        <form (ngSubmit)="onSubmit()">
          <!-- Prenom (First Name) -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.prenom" name="prenom" required />
          </div>
          
          <!-- Nom (Last Name) -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.nom" name="nom" required />
          </div>
          
          <!-- Email -->
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" required />
          </div>

          <!-- Password -->
          <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required />
          </div>

          <!-- Telephone -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="user.telephone" name="telephone" required />
          </div>

         

         

          <!-- Submit button -->
          <button class="btn btn-primary shadow-2 mb-4" type="submit">Sign up</button>
        </form>

        <p class="mb-0 text-muted">
          Already have an account?
        </p>
      </div>
    </div>
  </div>
</div>
