<!-- Alert Table -->
<div class="table-header">
  <h2>List of Alerts</h2>
  <p>Logs of all the Alerts</p>
</div>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Description</th>
        <th>Equipment</th>
        <th>Sensor</th>
        <th>Value</th>
        <th>Timestamp</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alarm of alarms; trackBy: trackById">
        <td>{{ alarm.id }}</td>
        <td>{{ alarm.type }}</td>
        <td>{{ alarm.description }}</td>
        <td>{{ alarm.equipmentName }}</td>
        <td>{{ alarm.sensorName }}</td>
        <td>{{ alarm.sensorValue }}</td>
        <td>{{ alarm.timestamp }}</td>
        <td [ngClass]="{ 'active': alarm.status === 'ACTIVE', 'resolved': alarm.status === 'RESOLVED' }">
          {{ alarm.status }}
        </td>
        <td>
          <button (click)="deleteAlarm(alarm.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Command Table -->
<div class="table-header">
  <h2>List of Commands</h2>
  <p>Logs of all the Command Responses</p>
</div>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Command</th>
        <th>Equipment</th>
        <th>Status</th>
        <th>Message</th>
        <th>Timestamp</th>
        <th>User</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let command of commandResponses; trackBy: trackByCommandId">
        <td>{{ command.id }}</td>
        <td>{{ command.command }}</td>
        <td>{{ command.equipmentId }}</td>
        <td>{{ command.status }}</td>
        <td>{{ command.responseMessage }}</td>
        <td>{{ command.timestamp }}</td>
        <td>{{ command.userFirstName }} {{ command.userLastName }}</td>
        <td>
          <button (click)="deleteCommand(command.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
